.analistasContainer, .analistasContainer_hide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

:is(.analistasContainer, .analistasContainer_hide) h3 {
  background-color: var(--color-primary);
}


.analistasContainer_hide > div {
  opacity: 0.5;
}

.filtrosContainer {
  margin-bottom: 1rem; 
}

.filtrosContainer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
}

.filtrosContainer label {
  cursor: pointer;
  text-transform: capitalize;
}