.wrapper {
  position: fixed;
  padding: 0.5rem 1rem;
  border: 2px inset red;
  background-color: hsl(0, 0%, 100%);
  max-width: 50vw;
  z-index: 5;
  transform: translate(0, -100%);

  overflow: hidden;
}

.wrapper:hover {
  display: none;
}

.top:not(.right) {
  transform: translate(0, 0);
}

.right.top {
  transform: translate(-100%, 0%);
}

.right:not(.top) {
  transform: translate(-100%, -100%);
}

.hoverTable {
  box-shadow: none;
  border-radius: 0.25rem;
}

.hoverTable td {
  padding: 0.25rem 0.5rem;
  max-width: 20vw;
}

.hoverTable tbody tr:nth-child(even) {
  background-color: hsla(0, 0%, 0%, 0.1);
}
