.tableSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tableContainer {
  overflow: scroll hidden;
}

.table {
  text-align: center;
}

.table :is(td, th) {
  min-width: 10rem;
}
