.header {
  background-color: var(--color-primary);
  color: white;

  height: 3rem;
  padding: 0.5rem;
  overflow: hidden;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;

  width: 100%;
  max-width: var(--sectionMaxWidth);
}

.header .headerWrapper div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.header img {
  max-height: 2rem;
  max-width: 2rem;
  filter: brightness(0) invert(100%);
}
