.tableContainer {
  overflow: auto;
  max-height: 75vh;
}

.tableContainer table {
  margin: auto;
  border: 1px solid hsl(0, 100%, 50%, 0.25);
  border-top: none;
}

.tableContainer th {
  padding: 0.5rem;
  text-align: center;
}

.normal {
  min-width: 4rem;
}

.minSized {
  min-width: 12rem;
}

.maxSized {
  min-width: 20rem;
}

.tableSorter {
  cursor: pointer;
}

.tableSorter .sortIcon {
  background-color: transparent;
  color: white;
  border: none;
  margin-left: 0.5rem;
}
