.boxNoAsignado {
  border: 2px inset red;
}

.boxNoAsignado .analistaBox_title {
  background: gray;
}

.analistaBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 250px;

  border-radius: 0.5rem;
  background-color: #f5f5f5;
  box-shadow: 5px 5px 1px rgb(0, 0, 0, 0.25);
  overflow: hidden;
}

.analistaBox > *:not(.analistaBox_content) {
  padding: 0.25rem;
}

.analistaBox_title {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}

.analistaBox_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  max-height: 12rem;
  overflow: hidden auto;
  text-align: justify;
}

.analistaBox_content :is(summary, summary::-webkit-details-marker) {
  list-style: none;
}

.analistaBox_content summary {
  display: flex;
  justify-content: space-between;
}

.analistaBox_content summary span {
  padding: 0 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.analistaBox_content strong {
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  min-width: 2rem;
  text-align: center;
  border: none;
}

.analistaBox_content details {
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;

  font-size: 0.9rem;
}

.analistaBox_content details:hover {
  background-color: hsla(0, 0%, 0%, 0.15);
  color: white;
}

.analistaBox_content ul {
  padding: 0 0.5rem;
}

.analistaBox_content li {
  width: 100%;
}

.analistaBox_content li:not(:last-child) {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
}

.analistaBox_content > li:nth-child(even) {
  background-color: var(--color-primary-light);
}

.analistaBox_content ol li:hover {
  color: white;
}

.analistaBox_content ul li {
  display: flex;
  gap: 0.2rem;
  font-size: 0.75rem;
  padding-left: 0.2rem;
}

.analistaBox_footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 0.8rem;
  border-top: 1px solid black;
  font-weight: bold;
}

.analistaBox_footer label {
  cursor: pointer;
}

.analistaBox_footer label input {
  display: none;
}

.isFaltaInfo, .isFinalizado, .isDevuelto {
  font-weight: bold;
}

.isFaltaInfo {
  color: orange;
}

.isFinalizado {
  color: green;
}

.isDevuelto {
  color: red;
}

.isAsignadoDia {
  font-style: italic;
}