.boxNoAsignado {
  border: 2px inset red;
}

.boxNoAsignado :is(.analistaBox_title, h3) {
  background: gray;
}

.analistaBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 280px;

  border-radius: 0.5rem;
  border: 1px solid var(--color-primary);
  background-color: #f5f5f5;
  box-shadow: 5px 5px 1px rgb(0, 0, 0, 0.25);
  overflow: hidden;
}

.analistaBox_title {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;

  background-color: var(--color-primary);
  color: white;
  font-size: 1em;
  width: 100%;
}

.analistaBox_title h3 {
  overflow: hidden;
  word-wrap: break-all;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.analistaBox_title :is(span, label) {
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 0.95rem;
  min-width: 1.75rem;
  min-height: 1.75rem;
  font-family: monospace;
}

.analistaBox label {
  cursor: pointer;
}

.analistaBox label input {
  display: none;
}

.analistaBox_table,
.analistaBox_table__sub {
  width: 100%;
  border-radius: 0;
  box-shadow: none;
}

.analistaBox_table__sub tr :last-child {
  padding: 0.2rem;
}

.analistaBox_table__sub td {
  max-width: 33%;
  min-width: 33%;
}

.analistaBox_table * {
  padding: 0;
}

.analistaBox_table__pendientes {
  color: red;
}

.analistaBox_table__finalizado {
  color: rgb(3, 194, 3);
}

.analistaBox thead th {
  background-color: rgb(215, 215, 215);
  color: black;
}

.analistaBox_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  max-height: 12rem;
  overflow: hidden auto;
  text-align: justify;
}

.analistaBox_content :is(summary, summary::-webkit-details-marker) {
  list-style: none;
}

.analistaBox_content summary {
  display: flex;
  justify-content: space-between;
}

.analistaBox_content summary span {
  padding: 0 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.analistaBox_content strong {
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  min-width: 2rem;
  text-align: center;
  border: none;
}

.analistaBox_content details {
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;

  font-size: 0.9rem;
}

.analistaBox_content details:hover {
  background-color: hsla(0, 0%, 0%, 0.15);
  color: white;
}

.analistaBox_content ul {
  padding: 0 0.5rem;
}

.analistaBox_content li {
  width: 100%;
}

.analistaBox_content li:not(:last-child) {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
}

.analistaBox_content > li:nth-child(even) {
  background-color: var(--color-primary-light);
}

.analistaBox_content ol li:hover {
  color: white;
}

.analistaBox_content ul li {
  display: flex;
  gap: 0.2rem;
  font-size: 0.75rem;
  padding-left: 0.2rem;
}

.analistaBox_footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--color-primary);
  width: 100%;
  font-size: 0.8rem;
}

.isFaltaInfo,
.isFinalizado,
.isDevuelto {
  font-weight: bold;
}

.isFaltaInfo {
  color: orange;
}

.isFinalizado {
  color: green;
}

.isDevuelto {
  color: red;
}

.isAsignadoDia {
  font-style: italic;
}
